{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    ["typecheck", {
      "disable": {
        "production": true
      }
    }],
    "transform-runtime",
    "react-html-attrs",
    "react-hot-loader/babel",
    "transform-decorators-legacy",
   	"transform-class-properties",
   	"transform-object-rest-spread"
  ]
}