{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "root": true,
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "classes": true,
            "modules": true
        }
    },
    "env": {},
    "rules": {
        "react/prefer-stateless-function": 0,
        "react/prop-types": 0,
        "strict": 0,
        "prefer-template": 0,
        "no-useless-constructor": 0,
        "no-alert": 0,
        "func-names": 0,
        "object-curly-spacing": 0,
        "no-unused-vars": 0,
        "global-require": 0,
        "comma-dangle": 0,
        "no-console": 0,
        "eol-last": 0,
        "max-len": 0,
        "indent": 0,
        "semi": 0
    },
    "plugins": [
        "react",
        "eslint-plugin-babel",
        "eslint-plugin-import",
        "eslint-plugin-jsx-a11y",
        "eslint-plugin-react"
    ]
}